<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

<div class="container mt-4">
<table class="table">

<thead> 
<tr>
<th>ID</th>
<th>Nombre</th>
<th>Correo</th>
<th>Nacionalidad</th>
<th>Acciones</th>


</tr>


</thead> 

<tbody>

<tr th:each="persona:${Personas}"> 

<td>${persona.id}</td>
<td>${persona.nombre}</td>
<td>${persona.correo}</td>
<td>${persona.nacionalidad}</td>

<td>
<a class="btn btn-warning">Editar</a>
<a class="btn btn-danger">Eliminar</a>

</td>

</tr> 

</tbody>


</table>
</div>

</body>
</html>